// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$best_color: rgb(0,0,180);

body {
	color: $best_color;
	text-align: center;
}
